#instructions-page {
    height: 90vh;
    border-radius: 3px;
}

#smaller-info {
    height: auto;
}

#lengthen-page {
    height: auto;
}

.ins-container {
    background: white;
    height: 90vh;
    width: 94%;
    li{
        list-style-type: none;
        margin-left: 2%;
        font-family: $poppins;
        font-size: 18px;
        padding: 5%;
    }
    
}

.message-bubble {
    padding-right: 2px;
    padding-bottom: 2px;
    color: white;
    -webkit-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.75);
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 70px;
    height: 70px;
    background: $bg;
    position: -webkit-sticky;
    position: sticky;
    left: 77vw;
    bottom: 2vh;
    border-radius: 50%;
    border: 2px solid $bg;
    cursor: pointer;
}