.left-hdr{
    width: 10%;
}
.ins-form-container{
    height: 83.5vh;
    width: 100%;
    background: $bg;
    display: flex;
    justify-content: center;
    padding-top: 15%;
}

.ins-container{
    background: white;
    height: 80vh;
    width: 94%;
    li{
        list-style-type: none;
        margin-left: 2%;
        font-family: $poppins;
        font-size: 18px;
        padding: 5%;
    }
    
}
.ins-message{
    width: 80px;
    height: 80px;
    background: white;
    position: fixed;
    bottom: 5px;
    margin:0 0 2% 2%;
    border: 2px solid $bg;
}