.message-form-container{
    height: 88vh;
    width: 100%;
    background: $bg;
    display: flex;
    justify-content: center;
    padding-top: 5%;
}

.message-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95%;
    height: 95%;
    background: white;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, .1);
    border-radius: 3px;
    padding-top: 5%;

    .username {
        h1 {
            font-family: $font-secondary;
        }
    }
}

.message-display {
    margin-top: 5%;
    width: 90%;
    height: 88%;
    // border-bottom: 1px solid #777777;
    display: flex;
    flex-direction: column;

    .user-bubble {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    .user {
        display: flex;
        justify-content: space-around;
        align-items: center;
        background:white;
        padding: 10px;
        width: fit-content;
        height: 7px;
        border-radius: 30px;
        font-family: $font-secondary;
        font-size: 18px;
        color: white;
        margin: 5px;
        background: #AAAAAA;
    }

    .admin-bubble {
        width: 100%;
        display: flex;
        justify-content: flex-start;
    }

    .admin {
        align-items: center;
        display: flex;
        justify-content: space-around;
        align-items: center;
        background:white;
        padding: 10px;
        width: fit-content;
        height: 7px;
        border-radius: 30px;
        font-family: $font-secondary;
        font-size: 18px;
        color: white;
        margin: 5px;
        background: #55B1FF;
    }

}
.mes-bot{
    overflow: scroll;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    padding-top: 3%;
    border-top: 1px solid gray;

    input{
        width: 60%;
        height: 18px;
        // margin: 20px 0 15px 0;
        background: white;
        font-size: 18px;
        color: rgb(211, 209, 209);
        border: 1px solid #777777;
        border-radius: 30px;
        padding: 2%;
        font-family: $font-secondary;
    }
    button{
        width: 80px;
        height: 32.5px;
        border-radius: 30px;
        border: none;
        font-family: $font-secondary;
        font-size: 18px;
        color: white;
        background: #55B1FF;
        // margin: 2%;
    }
}
