.user-form-container{
    height: 7vh;
    width: 94%;
    border-radius: 3px;
    -webkit-box-shadow: 0px 0px 6px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 6px -2px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 6px -2px rgba(0,0,0,0.75);
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 15px;

    .user-container{
        background: white;
        height: 96%;
        width: 96%; 
        display: flex;
        justify-content: space-around;
        align-items: center;

        .user-info{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            padding-bottom: 2%;
            width: 80%;

            h3 {
                font-family: $font-primary;
                width: auto;
            }
            p {
                font-family: $font-secondary;
                color: #AAAAAA;
                font-size: 10pt;
            }
        }
    }
}

.userBtn-container {
    display: flex;
    width: 80%;
    justify-content: center;

    .userBtn {
        width: 45px;
        height: 45px;
        border-radius: 50%;
        // border: 1px solid black;
        border: none;
        -webkit-box-shadow: 0px 0px 6px -.5px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 0px 6px -.5px rgba(0,0,0,0.75);
        box-shadow: 0px 0px 6px -.5px rgba(0,0,0,0.75);
        background: white;
        margin: 3%;
    }

    .btn-done {
        background: #AAAAAA;
        color: rgb(100, 100, 100);
    }
}