@import url('https://fonts.googleapis.com/css?family=Lato|Poppins&display=swap');

@import url('https://fonts.googleapis.com/css?family=Karla|Rubik|Rubik+Mono+One&display=swap');

$lato: 'Lato', sans-serif;
$poppins: 'Poppins', sans-serif;
$font-primary: 'Rubik', sans-serif;
$font-secondary: 'Karla', sans-serif;

$buttonColor: #f68d4f;
$blue: #2bc5dc;
$ltblue: #82A2FD;
$hdrColor: #424c58;
$bg: #fbbb06;
$green: #33c4b3;
$border-radius: 4%;
