@import "variables";
@import "reset";
@import "landingPage";
@import "header";
@import "form";
@import "calendar";
@import "payment";
@import "instructionsPage";
@import "userInfo";
@import "user";
@import "message";
@import "login";
@import "admin";


body {
    max-width: 600px;
    margin: 0 auto;
    box-shadow:0 0 5px #dad5d5;
    
}

