@import url("https://fonts.googleapis.com/css?family=Lato|Poppins&display=swap");
@import url("https://fonts.googleapis.com/css?family=Karla|Rubik|Rubik+Mono+One&display=swap");
/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/
@import url("https://fonts.googleapis.com/css?family=Karla|Rubik|Rubik+Mono+One&display=swap");
@import url("https://fonts.googleapis.com/css?family=Karla|Rubik|Rubik+Mono+One&display=swap");
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

.landing-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 130vh;
}

.welcome {
  font-family: 'Rubik', sans-serif;
  font-size: 40px;
  text-align: center;
}

.top-section {
  height: 10vh;
  width: 100%;
  background: #fbbb06;
  margin-bottom: 7vh;
}

.image-container {
  position: relative;
  top: 5vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.image-container img {
  width: 100px;
  z-index: 1;
}

.next-btn {
  background: white;
  width: 200px;
  height: 50px;
  border-radius: 5px;
  border: 2px solid #fbbb06;
  font-family: "Lato", sans-serif;
  font-size: 18px;
  color: #fbbb06;
  margin-top: 10%;
}

.bot-section {
  background: white;
  height: 87vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bot-section .welcome {
  margin-bottom: 3%;
}

.bot-section .general-info-container .general-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 10px;
  padding: 15px;
  border-radius: 1%;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  width: 300px;
  height: 120px;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.bot-section .general-info-container .general-info .info-item {
  width: 100%;
  line-height: 1.6;
}

.bot-section .general-info-container .general-info .info-item h3 {
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
  font-size: 20px;
}

.bot-section .general-info-container .general-info .info-item p {
  font-family: 'Karla', sans-serif;
  color: #777777;
}

.bot-section .general-info-container .general-info .info-item .yellowize {
  color: #fbbb06;
}

.header-container {
  height: 7vh;
}

.header-container header {
  position: fixed;
  z-index: 10;
  width: 100%;
  height: 7vh;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.header-container header .header-spacer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 80px;
}

.header-container header .header-spacer img {
  width: 20px;
}

.header-container header .header-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-container header .circle-container {
  width: 180px;
  height: 33px;
  background: #fbbb06;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 20px;
}

.header-container header .circle-container .circle-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 95%;
}

.header-container header .circle-container .circle-info #icon-color {
  color: white;
  margin-right: 3%;
}

.header-container header .circle-container .circle-info h1 {
  font-size: 20px;
  font-family: "Lato", sans-serif;
  color: white;
}

.form-container {
  height: 100vh;
  width: 100%;
  background: #fbbb06;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-top: 5%;
}

.form-container #car-form {
  height: 75vh;
}

.form-container #register-form {
  height: 76vh;
}

.form-container form {
  padding-top: 10%;
  height: 100vh;
  width: 93%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: white;
  -webkit-box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.1);
          box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
}

.form-container form .form-section {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-bottom: 3%;
}

.form-container form .form-section h2 {
  font-family: "Rubik", sans-serif;
  font-size: 20px;
}

.form-container form .form-section .full-name {
  margin-top: 5%;
  height: 250px;
}

.form-container form .form-section .address-info {
  height: 300px;
}

.form-container form .form-section .contact {
  height: 200px;
}

.form-container form .form-section .small-inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.form-container form #mui-input {
  padding: 2px 0 2px 0;
  border-bottom: none;
  margin: 2px 0 10px 10px;
  font-family: 'Karla', sans-serif;
  color: #777777;
}

.form-container form input {
  width: 80%;
  height: 30px;
  margin: 20px 0 15px 0;
  background: white;
  border: none;
  font-size: 18px;
  color: #777777;
  border-radius: 3px;
  border-bottom: 1px solid #777777;
  padding: 2%;
}

.form-container form input::-webkit-input-placeholder {
  color: #777777;
}

.form-container form input:-ms-input-placeholder {
  color: #777777;
}

.form-container form input::-ms-input-placeholder {
  color: #777777;
}

.form-container form input::placeholder {
  color: #777777;
}

.form-container form .next-btn-container {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-top: 5%;
}

.form-container form .next-btn-container button {
  width: 200px;
  height: 50px;
  border-radius: 5px;
  font-family: "Lato", sans-serif;
  font-size: 18px;
  color: white;
  font-size: 14pt;
  border: 1px solid #CCCCCC;
  background: #CCCCCC;
}

.cal-form-container {
  background: #fbbb06;
  height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.cal-container {
  background: white;
  height: 95%;
  width: 94%;
  margin-top: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cal-container .next-btn {
  margin-top: 90%;
}

.pay-form-container {
  height: 83.5vh;
  width: 100%;
  background: #fbbb06;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 15%;
}

.inv-container {
  background: white;
  height: 95%;
  width: 94%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.inv-container button {
  margin: 12% 0 0 0;
  background: white;
  width: 200px;
  height: 50px;
  border-radius: 5px;
  border: 2px solid #fbbb06;
  font-family: "Lato", sans-serif;
  font-size: 18px;
  color: #fbbb06;
}

.left-hdr {
  width: 10%;
}

.ins-form-container {
  height: 83.5vh;
  width: 100%;
  background: #fbbb06;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 15%;
}

.ins-container {
  background: white;
  height: 80vh;
  width: 94%;
}

.ins-container li {
  list-style-type: none;
  margin-left: 2%;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  padding: 5%;
}

.ins-message {
  width: 80px;
  height: 80px;
  background: white;
  position: fixed;
  bottom: 5px;
  margin: 0 0 2% 2%;
  border: 2px solid #fbbb06;
}

.user-form-container {
  height: 88vh;
  width: 100%;
  background: #fbbb06;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 5%;
}

.user-container {
  background: white;
  height: 96%;
  width: 89%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 2% 0 2% 5%;
}

.user-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 2%;
  font-family: "Poppins", sans-serif;
  width: 40%;
}

.userBtn {
  width: 45px;
  height: 45px;
  border: 1px solid #fbbb06;
  background: white;
  margin: 5%;
}

.userBtn-container {
  padding-left: 2%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 60%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.info-container {
  height: 90vh;
  width: 100%;
  background: #fbbb06;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 5%;
}

.info-container .adminUserInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 95%;
  height: 95%;
  background: white;
  -webkit-box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.1);
          box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  padding-top: 5%;
}

.info-container .buttonContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.info-container .statusButton:hover {
  cursor: pointer;
  background: #777777;
  color: white;
  border: 2px solid #777777;
}

.info-container .statusButton {
  background: white;
  width: 200px;
  height: 50px;
  border-radius: 5px;
  border: 2px solid #fbbb06;
  font-family: "Lato", sans-serif;
  font-size: 18px;
  color: #fbbb06;
  margin-top: 15px;
}

.info-container .cardsContainer {
  width: 85%;
}

.info-container .singleCardContainer {
  width: 100%;
}

.message-form-container {
  height: 88vh;
  width: 100%;
  background: #fbbb06;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 5%;
}

.message-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 95%;
  height: 95%;
  background: white;
  -webkit-box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.1);
          box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  padding-top: 5%;
}

.message-display {
  width: 100%;
  height: 70%;
  border-bottom: 1px solid #777777;
}

.mes-bot {
  width: 90%;
}

.mes-bot input {
  width: 90%;
  height: 20%;
  margin: 20px 0 15px 0;
  background: white;
  font-size: 18px;
  color: #777777;
  border: 1px solid #777777;
  border-radius: 10px;
  padding: 2%;
}

.mes-bot button {
  background: white;
  width: 150px;
  height: 40px;
  border-radius: 5px;
  border: 2px solid #fbbb06;
  font-family: "Lato", sans-serif;
  font-size: 18px;
  color: #fbbb06;
  margin: 2%;
}

.background-container {
  height: 100vh;
  background: #fbbb06;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-top: 5%;
}

.background-container .directions-step-container {
  min-height: 65%;
  width: 93%;
  background: white;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.background-container .directions-step-container .directions-container {
  width: 85%;
  height: 15%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.background-container .directions-step-container .directions-container .title {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.background-container .directions-step-container .directions-container .title h2 {
  width: 85%;
  font-family: 'Rubik', sans-serif;
  font-size: 24px;
  margin-bottom: 7%;
}

.background-container .directions-step-container .directions-container p {
  font-family: 'Karla', sans-serif;
  color: #AAAAAA;
}

.background-container .directions-step-container .verify {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.background-container .directions-step-container .verify .step-container {
  width: 85%;
}

.background-container .directions-step-container .verify .step-container .step-text {
  margin: 0 0 2% 0;
  width: 100%;
  font-family: 'Rubik', sans-serif;
  font-size: 20px;
}

.background-container .directions-step-container .verify .step-container .sub-text {
  margin: 0 0 2% 0;
  font-family: 'Karla', sans-serif;
  color: #AAAAAA;
}

.background-container .directions-step-container .verify .step-container .phone-number-input {
  margin: 0 0 2% 0;
  font-size: 11pt;
  color: #AAAAAA;
  border-radius: 3%;
  padding-left: 10px;
  width: 150px;
  height: 45px;
  border: 1px solid #AAAAAA;
  margin-bottom: 7%;
}

.background-container .directions-step-container .verify .step-container .send-btn {
  border-radius: 3%;
  background: #CCCCCC;
  padding-left: 10px;
  width: 30%;
  height: 45px;
  color: white;
  font-size: 14pt;
  border: 1px solid #CCCCCC;
}

.background-container .directions-step-container .verify .step-container .code-input {
  margin: 0 0 2% 0;
  border-radius: 3%;
  font-size: 11pt;
  color: #AAAAAA;
  padding-left: 10px;
  width: 110px;
  height: 45px;
  border: 1px solid #AAAAAA;
}

.background-container .directions-step-container .verify .step-container .verify-btn {
  margin-top: 5%;
  border-radius: 3%;
  background: #CCCCCC;
  padding-left: 10px;
  width: 100%;
  height: 45px;
  color: white;
  font-size: 14pt;
  border: 1px solid #CCCCCC;
}

.background-container .directions-step-container .verify .input-step-container {
  width: 85%;
  margin: 0 0 2% 0;
  margin-bottom: 7%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.background-container .directions-step-container .verify .input-step-container .phone-number-input {
  font-size: 11pt;
  margin-right: 5%;
  color: #AAAAAA;
  border-radius: 4%;
  padding-left: 10px;
  width: 150px;
  height: 45px;
  border: 1px solid #AAAAAA;
}

.background-container .directions-step-container .verify .input-step-container .send-btn {
  border-radius: 4%;
  background: #55B1FF;
  padding-left: 10px;
  width: 30%;
  height: 49px;
  color: white;
  font-size: 14pt;
  border: 1px solid #CCCCCC;
}

body {
  max-width: 600px;
  margin: 0 auto;
  -webkit-box-shadow: 0 0 5px #dad5d5;
          box-shadow: 0 0 5px #dad5d5;
}
/*# sourceMappingURL=styles.css.map */